**/.DS_Store
.env
.env_*
.env.*
.pylintrc
.python-version
.vscode/settings.json

__pycache__

*.log
*.pickle
credentials*.json

credential_files
env
*env*
environment.yml

elasticsearch/credentials.json
elasticsearch/etl/__pycache__
!elasticsearch/files/nested_mapping.json
elasticsearch/files/*.json
elasticsearch/etl/es_data*
elasticsearch/etl/*.json

graph/Submission*
graph/MaGIC*
graph/data-simulator
graph/fake_data/*
graph/.test

graph/operations/*.csv
graph/operations/*.json
graph/operations/*.sh
graph/operations/*.tsv
